body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f7fb; /* Light blue background */
    color: #333;
}

header {
    background-color: #3498db; /* Dark blue header */
    padding: 15px;
    color: white;
    text-align: center;
}

#about-me, #education, #skills, #contact {
    margin: 30px;
    background-color: #ecf0f3; /* Lighter blue content background */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #3498db; /* Dark blue heading */
}

p, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #3498db; /* Dark blue link */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    #about-me, #education, #skills, #contact {
        margin: 20px;
    }
}
